Repository DrakeHunterK7/SOEN-341-Fall-2021-Team-9-Stack-Bubbling-, pull requests merged in 2021-09, with the labels that each got.

#15 env-setup-react
  frontend-stack-bubbling/.gitignore
  frontend-stack-bubbling/README.md
  frontend-stack-bubbling/package-lock.json
  frontend-stack-bubbling/package.json
  frontend-stack-bubbling/public/favicon.ico
  frontend-stack-bubbling/public/index.html
  frontend-stack-bubbling/public/logo192.png
  frontend-stack-bubbling/public/logo512.png
  frontend-stack-bubbling/public/manifest.json
  frontend-stack-bubbling/public/robots.txt
  frontend-stack-bubbling/src/App.css
  frontend-stack-bubbling/src/App.js
  frontend-stack-bubbling/src/App.test.js
  frontend-stack-bubbling/src/index.css
  frontend-stack-bubbling/src/index.js
  frontend-stack-bubbling/src/logo.svg
  frontend-stack-bubbling/src/reportWebVitals.js
  frontend-stack-bubbling/src/setupTests.js
Labels: Frontend

#22 Added logo and website name [TEST]
  frontend-stack-bubbling/public/index.html
  frontend-stack-bubbling/src/App.js
  frontend-stack-bubbling/src/index.css
Labels: Frontend

#23 Updated README based on Sept 25th Meeting
  README.md
Labels: documentation

#29 Deleting all the unnecessary file on react project
  frontend-stack-bubbling/src/App.css
  frontend-stack-bubbling/src/App.js
  frontend-stack-bubbling/src/App.test.js
  frontend-stack-bubbling/src/index.css
  frontend-stack-bubbling/src/index.js
  frontend-stack-bubbling/src/logo.svg
  frontend-stack-bubbling/src/reportWebVitals.js
  frontend-stack-bubbling/src/setupTests.js
Labels: Frontend

#33 formate the readme fille
  README.md
Labels: documentation

#35 Set up the initial backend environment
  backend-stack-bubbling/.firebaserc
  backend-stack-bubbling/.gitignore
  backend-stack-bubbling/firebase.json
  backend-stack-bubbling/functions/.gitignore
  backend-stack-bubbling/functions/index.js
  backend-stack-bubbling/functions/package-lock.json
  backend-stack-bubbling/functions/package.json
  backend-stack-bubbling/note.text
Labels: Backend
